params {
    input = "${projectDir}/tests/assets/samplesheet_rds.csv"
    notebook = "${projectDir}/tests/assets/external_rds_report.qmd"
}

process {
    withName: '.*QUARTONOTEBOOK.*' {
        conda = "${projectDir}/tests/assets/environment.yml"
        container = {
            workflow.containerEngine in ['singularity', 'apptainer'] && !task.ext.singularity_pull_docker_container
                ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e4/e4abc02422bcfe57f7890fe844214a7a57e39eeaa6b0dc46c3539d7d98ac63af/data'
                : 'community.wave.seqera.io/library/jupyter_matplotlib_papermill_quarto_pruned:1c7ff2bce2522110'
        }
    }
}
