params {
    input = "${projectDir}/tests/assets/samplesheet_rds.csv"
    notebook = "${projectDir}/tests/assets/external_rds_report.qmd"
    report_container = 'community.wave.seqera.io/library/jupyter_matplotlib_papermill_quarto_pruned:1c7ff2bce2522110'
}

process {
    withName: '.*QUARTONOTEBOOK.*' {
        conda = "${projectDir}/tests/assets/environment.yml"
    }
}
